<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityexplorersquad">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider435772236765854"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ConnectServerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewJourneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewMemberListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewTaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddJourneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewTaskActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".DisplayAllTasksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayTaskDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ViewPhotosActivity" />
        <activity android:name=".GiftShopActivity" />
        <activity android:name=".DisplayGiftDetailsActivity" />
        <activity android:name=".ShareToFacebookActivity" />
        <activity android:name=".ViewPhotoGridActivity"></activity>
    </application>

</manifest>